@import "../node_modules/nes.css/css/nes.css";
/* Here i import tailwindcss to vite */
@import "tailwindcss";

@font-face {
    font-family: 'Press Start 2P';
    src: url("/fonts/PressStart2P-Regular.ttf");
   }

* {
    font-family: 'Press Start 2P', cursive, sans-serif;
}

